.product-store {
    padding: 20px 30px;
    margin: 15px 0;
    background-color: #fff;
    .pagination {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
